
body{
	min-width: 320px;
	font-family: 'Roboto', sans-serif;

}
* {
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
}
a{
	outline: none;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
.container {
	max-width: 1200px;
	margin: auto;
}
