.footer {
  padding: 103px 0 0;
  background: #121212;
}
.footer__inner{
  display: flex;
  .footer__info {
    flex-basis: 40%;
    padding-right: 5%;
    img  {
      height: 15px;
      margin: 0 0 45px;
    }
    .footerInfo__text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.3);
      margin-bottom: 25px;
    }
  }
}
.footer__about,
.footer__help,
.footer__set{
  flex-basis: 20%;
}
.footer__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(243, 228, 133, 0.7);
  margin-bottom: 37px;
  display: inline-block;
}
.footerMenu__item {
  margin-bottom: 12px;
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    cursor: pointer;
    color: #ffffff;
    transition: all .3s linear;
    overflow: hidden;
  }
}
.footer__langSelect {
  margin: -13px 0 45px;
  position: relative;
  .langSelect__current {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 3px;
    color: #7e7e7e;
    cursor: pointer;
    font-size: 17px;
    height: 44px;
    line-height: 42px;
    padding: 0 35px 0 17px;
    position: relative;
    &:before {
      content: "";
      display: inline-block;
      height: 5px;
      position: absolute;
      right: 15px;
      top: 18px;
      width: 9px;
      background-image: url("../../img/badge.svg");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 9px 5px;
    }
    img {
      margin-right: 16px;
    }
  }
}
.footer__socialItems {
  position: relative;
}
.footer__link {
  cursor: pointer;
  margin-right: 16px;
  transition: all .3s linear;
  vertical-align: middle;
  font-size: 24px;
  color: rgba(243, 228, 133, 0.5) !important;
  &:hover {
    color: #F3E485 !important;
  }
  .icon-facebook:before {
    font-family: 'icomoon';
    content: "\f09a";
    position: absolute;
    color: #F3E485;
  }
  .icon-vk:before {
    content: "\e900";
    font-family: 'icomoon';
    font-size: 10px;
    content: "\f09a";
    position: absolute;
    color: #F3E485;
  }
  .icon-youtube:before {
    content: "\f167";
    font-family: 'icomoon';
    font-size: 10px;
    content: "\f09a";
    position: absolute;
    color: #F3E485;
  }
}
.footer__copyright {
  color: #fff;
  font-size: 14px;
  margin-top: 62px;
  padding: 31px 0;
  text-align: center;
  text-transform: uppercase;
  .footer__copyrightInfo {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.3);
    display: block;
  }
}