.header {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  //background: linear-gradient(270deg, #2B353A 0%, #121212 106.25%);
  //backdrop-filter: blur(4px);
}
.header__content {
  display: flex;
  justify-content: space-between;
  //background: linear-gradient(270deg, #2B353A 0%, #121212 106.25%);
  //backdrop-filter: blur(4px);
  background-color: #121212;
}
.header__content--inner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 25px 0 ;
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__btn {
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    background: linear-gradient(#121212, #121212) padding-box, linear-gradient(to right, #B18145, #F3E485) border-box;
    border-radius: 30px;
    border: 1px solid transparent;
    white-space: nowrap;
    &:last-child {
      margin-left: 10px;
    }
    &:first-child {
      border: none;
      border-radius: 0;
    }
    .header__link {
      display: block;
      padding: 8px 33px 8px;
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      &:first-child {
        border: none;
      }
    }
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__lang {
  margin-left: 32px;
}

.header_content {
  padding: 25px 88px 25px 0;
  display: flex;
  justify-content: space-between;
}
.header__btn-inner {
  display: flex;
  justify-content: space-between;
}
.header_content.fix {
  background: rgba(255, 255, 255, 0.9);
  left: 0;
  margin: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  -webkit-transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  transition: linear 0.3s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: animatedown 0.3s;
  animation: animatedown 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}